html
{
    scroll-behavior: smooth;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section
{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        height: 110vh;
    padding: 20px;
}

#section2
{
    height: 120vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.sticky
{
    width: 100px;
    height: 200px;
    background: rgba(0, 0, 0, 0.803);
    position: sticky;
    top: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
}
nav    
{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    background: #fff;
    padding: 10px 20px;
}
