
*
{
    margin: 0;
    padding: 0;
    
}
section
{
    display: flex;
    max-width: 1600px;
    margin: auto;
    gap: 20px;
padding: 20px;

}
.view
{
flex: 7;

border-right: 1px solid #ddd;
padding: 20px;


}
.code
{
flex: 3;
padding: 20px;

}
code
{
    font-weight: bold;
    font-size: 16px;
}

.view div
{
    border: 5px solid;
    padding: 20px;
    border-radius: 6px;

}

.wrapper    
{
    min-height: 250px;
    gap: 10px;
}
.child
{
    width: 50px;
    height: 50px;
}
.wrapper    
{
    display: flex;
}
.child
{
    
}