
*
{
    margin: 0;
    padding: 0;
    
}
section
{
    display: flex;
    max-width: 1600px;
    margin: 20px auto;
    gap: 20px;

}
.view
{
flex: 7;

border-right: 1px solid #ddd;
padding: 0px 20px;


}
.code
{
flex: 3;
/* padding: 20px; */

}
code
{
    /* font-weight: bold;
    font-size: 16px; */
}

.view div
{
    border: 2px solid;
    padding: 10px;
    border-radius: 6px;

}

.wrapper    
{
    min-height: 100px;
    gap: 10px;
}
.child
{
    width: 30px;
    height: 30px;
    background: rgb(181, 230, 245);
}
.wrapper    
{
    display: flex;
    background: rgb(196, 246, 193);
}

.q1 .child:nth-child(odd)
{
    flex: 1;
}

.q2 .wrapper
{
    align-items: center;
}
.q3 .wrapper
{
    justify-content: center;
}
.q4 .wrapper
{
    justify-content: space-around;
}

.q5 .wrapper
{
    justify-content: space-between;
}
.q6 .wrapper
{
    justify-content: space-evenly;
}